# Ignorar el directorio /env/
/env/

# Ignorar todos los archivos dentro de /project1/config/
/app/config/*

# Ignorar todos los archivos .pyc
*.pyc

# Ignorar todos los directorios __pycache__/
__pycache__/

# Ignorar todos archivos de entorno virtual
venv/
